<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/nav.ejs')  %>

    <div class="about content">
        <h2>About pages</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Morbi dictum iaculis nisi quis porttitor. 
            Donec eget faucibus metus, in luctus quam
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Morbi dictum iaculis nisi quis porttitor. 
            Donec eget faucibus metus, in luctus quam
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Morbi dictum iaculis nisi quis porttitor. 
            Donec eget faucibus metus, in luctus quam
        </p>
    </div>    
</body>
<%- include('./partials/footer.ejs') %>
</html>